#playBtn{
	width: 100%;
	height: auto;
}

#instructions,#nick, .btn-settings,#gamemode {
	display:none !important;
}

a {
	color: #0CE3AC !important;
}

#helloDialog {
	background-color:#303030 !important;
}

#intuition-btn {
	position:fixed;
	top: 215px;
	right: 25px;
}

#ai-intuition {
	position:fixed;
	width:100%;
	text-align:center;
	opacity:0.3;
	top:50%;
	transform: translate(0, -55%);
}

#heat-map, #mini-map {
	border: 2px solid #099;
	text-align: center;
	position:fixed;
	top:25px;
	right:25px;
}

h4 {
	color: #EEE !important;
}

#last-action-best-30 {
	position: fixed;
	left:25px;
	bottom: 150px;
	opacity:0.3;
}

#last-action-best-5 {
	position: fixed;
	left:25px;
	bottom: 100px;
	opacity:0.6;
}

#ai-status span.alert {
	color: rgb(255,0,0);
}

#leaderboard-div {
	position: fixed;
	top:250px;
	right:25px;
	text-align:right;
}

#score {
	position: fixed;
	left:25px;
	bottom:25px
}

input, .consideration-label {
	color: #FFF !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ping{
	position: fixed;
	left: 25px;
	top: 25px;
}

#exp{
	position:fixed;
	left:25px;
	bottom: 60px;
	width:200px;
	margin-bottom: 5px;
}

#lvl{
	position:fixed;
	left:25px;
	bottom: 85px;
}
